@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-ledger: 'Ledger', serif;
    --font-platypi: 'Platypi', serif;
    --font-poppins: 'Poppins', sans-serif;
    --bg-starts: linear-gradient(to right bottom, #101b27, #111c28, #131e28, #141f29, #162029);
    --bg-gradient-radial: linear-gradient(ellipse at bottom, #161f2b 0%, #090A0F 100%);
}

@layer components {
    h1 {
        font-family: var(--font-platypi);
    }
    h2 {
        font-family: var(--font-platypi);
    }
    p {
        font-family: var(--font-poppins);
    }
    main {
        background-image: var(--bg-starts);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .education {
        background-image: var(--bg-gradient-radial);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}



