---
import mail from "../assets/mail.svg";
import astro from "../../public/astro.png";
import logo from "../assets/logo.svg";

const anho = new Date().getFullYear();
---

<footer>
    <section class="section-footer flex flex-row justify-between items-center relative">
      <div class="flex items-center ">
        <img src={logo.src} width="60" height="40" alt="logoDev" />
        <span class="font-semibold">EduDev</span>
      </div>
      <div class="container-copy">
          <p class="text-gray-400 font-semibold">© {anho} Edwin Ramos Cabrera</p>
      </div>
      <div class="flex justify-end-safe items-end m-5">
        <img class="rounded-[20px] w-10 h-9" src={astro.src} alt="astro">
      </div>
    </section>
  </footer>
  
  <style>
    .section-footer {
   
      width: 100%;
      background-color: #111111;
      margin: 0 20px 0 20px;
    }
    
    .container-copy {
      position: relative;
      color: #f6f6f9;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px 0;
    }
  </style>