---
import Education from "./Education.astro";
import Experience from "./Experience.astro";
import Landing from "./Landing.astro";
import Projects from "./Projects.astro";
import Skills from "./Skills.astro";
---
<main class='w-full mx-auto flex flex-wrap justify-center'>
    <Landing />
    <Education />
    <Experience />
    <Projects />
    <Skills />
</main>

