---
import AboutMe from "./About-me.astro";
import Experience from "./Experience.astro";
import Landing from "./Landing.astro";
import Projects from "./Projects.astro";
import Skills from "./Skills.astro";
---
<main class='w-full mx-auto flex flex-wrap justify-center'>
    <Landing />
    <Experience />
    <Projects />
    <AboutMe />
    <Skills />
</main>

