---
import '../styles/global.css';
const { title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<link rel="stylesheet" href="../styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class='max-w-6xl mx-auto bg-[#111111] text-white'>
		<slot />
	</body>
</html>

