---
import '../styles/global.css';
const { title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<link rel="stylesheet" href="../styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://kit.fontawesome.com/900c0a9d78.js" crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body class="bg-[#1c1b1f]">
		<slot />
	</body>
</html>

<style>
	* {
		Margin: 0;
		Padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
</style>
